
<div class="container">
    <div class="card mt-5">
        <div class="card-header">
                <i class="far fa-plus-square"></i> Add Product
        </div>
        <div class="card-body">
            <form>
                <div class="form-row ">
                <div class="form-group col-md-6">
                    <label for="productName">Name</label>
                    <input type="text" class="form-control is-valid" name="productName" id="productName">
                    <div class="invalid-feedback">
                        Validation message
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="productName">Category</label>
                    <input type="text" class="form-control is-valid" name="productCategory" id="productCategory">
                    <div class="invalid-feedback">
                        Validation message
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="productPrice">Price</label>
                    <input type="number" class="form-control is-valid" name="productPrice" id="productPrice">
                    <div class="invalid-feedback">
                        Validation message
                    </div>
                </div>
                <div class="form-group col-md-6">
                        <label for="productQuatity">Quatity</label>
                        <input type="text" class="form-control is-valid" name="productQuatity" id="productQuatity">
                        <div class="invalid-feedback">
                            Validation message
                        </div>
                    </div>
                <div class="form-group col-md-12">
                <label for="productDescription">Description</label>
                <textarea class="form-control is-valid" name="productDescription" id="productDescription" rows="3"></textarea>
                <div class="invalid-feedback">
                    Validation message
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="productImageUrl">ImageUrl</label>
                    <input type="text" class="form-control is-valid" name="productImageUrl" id="productImageUrl">
                    <div class="invalid-feedback">
                        Validation message
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="productSeller">productSeller</label>
                    <input type="text" class="form-control is-valid" name="productSeller" id="productSeller">
                    <div class="invalid-feedback">
                        Validation message
                    </div>
                </div>
                <button class="btn btn-primary">Submit</button>
                <!-- TODO: This is for server side, there is another version for browser defaults -->
            </div>
        </form>
    </div>
    </div>   
</div>

