<h1>Add User </h1>
<form>
    Id <input type="text" name="id" [(ngModel)]="user.id"><br>
    username <input type="text" name="username" [(ngModel)]="user.username" ><br>
    password <input type="password" name="password" [(ngModel)]="user.password" ><br>
    email <input type="text" name="email" [(ngModel)]="user.email" ><br>
    phoneNo <input type="text" name="phoneNo" [(ngModel)]="user.phoneNo" ><br>
    role <input type="text" name="role" [(ngModel)]="user.role" ><br>
    <button (click)="m1();">Save</button>
</form>